@import "ui-base-theme/components/base--ui-input--default";

@component() {
  @include base--ui-input--default($theme,
    $border-radius: 0px,
    $border-color: transparent,
    $background: transparent,
    $disabled-background: tansparent,
    $focus-color: none,
    $padding-x: 0
  );
}
