@import "ui-base-theme/components/base--ui-field--default";

@component() {
  @include base--ui-field--default($theme,
    $margin: 0.5em 0 0 0
  );

  // TODO This should be customized via the label component scss
  label {
    font-size: 0.85em;
    font-weight: bold;
  }
}
