$yellow: #FFFDE4;

body {
  padding: 10px;
  font-family: sans-serif;
  background: $yellow;
}

@import 'ui-tomato-theme';

.tomato {
  @include ui-tomato-theme(
    $page-background: tomato,
    $content-background: #FFFFFF,

    $default-color: #6a6a6a,
    $error-color: #ff0000,
    $focus-color: #0090ff,
    $font-color: #867E7B,
    $primary-color: tomato,

    $border-radius: 0.5em,

    $heading-font: ("Comic Sans MS", "Comic Sans", cursive),
    $copy-font: ("Helvetica", "sans-serif"),
    $component-font: ("Comic Sans MS", "Comic Sans", cursive),

    $font-size--x-small: 0.6rem,
    $font-size--small: 0.8rem,
    $font-size--medium: 1rem,
    $font-size--large: 1.3rem,
    $font-size--x-large: 1.6rem
  );
}
